{% render 'partials/head.liquid', title: 'Homepage' %}

<main>
  {% if path contains 'snappmap' %}
    {% render 'partials/top-navigation.liquid', title: snappmap[0].name, groups: groups %}
  {% elsif path contains 'user' %}
    {% render 'partials/top-navigation.liquid', title: snapps[0].author.name, groups: groups %}
  {% else %}
    {% render 'partials/top-navigation.liquid', title: snapps[0].location, groups: groups %}
  {% endif %}

  {% if path contains 'snappmaps' %}
    <h1>
      <span>
        <svg width="40" height="36" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M36.455 17.2464C36.455 20.4113 33.8721 22.9873 30.6992 22.9873C27.5268 22.9873 24.9531 20.4113 24.9531 17.2464C24.9531 14.0682 27.5268 11.4922 30.6992 11.4922C33.8653 11.4922 36.455 14.0728 36.455 17.2464ZM13.3312 0C8.64634 0 4.82779 3.81168 4.82779 8.50052C4.82779 13.1888 8.64233 17.0073 13.3312 17.0073C18.0217 17.0073 21.8368 13.1888 21.8368 8.50052C21.8397 3.81168 18.0212 0 13.3312 0ZM39.8847 34.6843C39.8847 29.4545 35.7557 25.2099 30.6906 25.2099C29.7871 25.2099 28.9243 25.3878 28.1032 25.6394C29.185 27.8083 29.8472 30.227 29.8472 32.8287V36H39.8853V34.6843H39.8847ZM0 36H26.6601V32.9848C26.6601 25.4221 20.6761 19.2694 13.3312 19.2694C5.97427 19.2694 0.00057181 25.4227 0.00057181 32.9848V36H0Z" fill="#90A1AA"/>
        </svg>
      </span>
      {{ groups[0].name }}
    </h1>
  {% endif %}

  <form action="/snappmaps/{{snappmap[0].uuid}}" method="POST" enctype="multipart/form-data" class="picture">
    <label for="file">
      <svg
        width="200"
        height="200"
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="picture-icon"
      >
        <circle cx="100" cy="100" r="100" fill="#00E53D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M99.7856 93.1627C94.2754 93.1627 89.7922 97.6459 89.7922 103.156C89.7922 108.666 94.2754 113.149 99.7856 113.149C105.296 113.149 109.779 108.666 109.779 103.156C109.779 97.6459 105.296 93.1627 99.7856 93.1627V93.1627ZM116.697 76.2509C116.697 70.7315 112.223 66.2576 106.704 66.2576H92.8671C87.3477 66.2576 82.8737 70.7315 82.8737 76.2509H71.343C65.8236 76.2509 61.3496 80.7249 61.3496 86.2443V120.068C61.3496 125.587 65.8236 130.061 71.343 130.061H128.228C133.748 130.061 138.222 125.587 138.222 120.068V86.2443C138.222 80.7249 133.748 76.2509 128.228 76.2509H116.697ZM99.7856 120.837C90.0359 120.837 82.105 112.905 82.105 103.156C82.105 93.4072 90.0359 85.4755 99.7856 85.4755C109.535 85.4755 117.466 93.4072 117.466 103.156C117.466 112.905 109.535 120.837 99.7856 120.837V120.837Z" fill="white"/>
      </svg>

      <img
        class="image-preview"
        src="#"
        alt="Preview"
      >
    </label>
    <input type="file" name="file" accept="image/*" capture="environment" id="file" required>
    <button type="submit" class="shown">Upload!</button>
  </form>

  <ul class="grid-view grid-large" id="grid">
    {% for snappmap in snappmap %}
      {% for snapp in snappmap.snaps %}
        {% if snapp.picture.id != null and snapp.picture.filesize != null %}
          <li>
            <a href="/snapps/snappmap/{{ snapp.uuid }}">
              <img
                src="https://fdnd-agency.directus.app/assets/{{ snapp.picture.id }}"
                alt="Image made in {{ snapp.location }}"
                loading="lazy"
              >
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for snapp in snapps %}
      {% if snapp.picture.id != null %}
        <li>
          <a href="/snapps/location/{{ snapp.uuid }}">
            <img
              src="https://fdnd-agency.directus.app/assets/{{ snapp.picture.id }}"
              alt="Image made in {{ snapp.location }}"
              loading="lazy"
            >
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% render 'partials/bottom-navigation.liquid', currentPage: 'snappmaps' %}
</main>
